---
import Blog from "@/assets/blog.svg";
import Home from "@/assets/home.svg";
import Roadmap from "@/assets/roadmap.svg";
import Kanban from "@/assets/kanban.svg";
import Calc from "@/assets/calculator.svg";
import Find from "@/assets/find.svg";
import Logo from "@/assets/logo.svg";
import Settings from "@/assets/settings.svg";

const navItems = [
  { href: "/", label: "Home", icon: Home },
  { href: "/plans", label: "Study Plans", icon: Roadmap },
  { href: "/blog", label: "Blog", icon: Blog },
  { href: "/find", label: "Find", icon: Find },
  { href: "/gpa", label: "GPA Calculator", icon: Calc },
  { href: "/schedules", label: "Manage Schecdules", icon: Kanban},
];
const bottomItems = [
  { href: "/settings", label: "Settings", icon: Settings},
//   { href: "/about", label: "About", icon: "file" },
//   { href: "/contact", label: "Contact", icon: "file" },
//   { href: "/privacy", label: "Privacy Policy", icon: "file" },
//   { href: "/terms", label: "Terms of Service", icon: "file" },
  
];

const currentPath = Astro.url.pathname;
---

<aside arial-label="Sidebar" class="h-screen w-16 flex flex-col fixed left-0 top-0 bottom-0 bg-sidebar text-sidebar-foreground border-r border-sidebar-border z-40 transition-transform duration-200 md:translate-x-0 -translate-x-full">
  <div class="flex items-center justify-center h-16 border-b border-sidebar-border">
    <a href="/" aria-label="Go to Home" class="bg-sidebar-primary text-sidebar-primary-foreground flex aspect-square size-10 items-center justify-center rounded-lg">
      <Logo class="size-5"/>
    </a>
  </div>
  
  <nav class="flex flex-col items-center gap-2 p-2 flex-1">
      {navItems.map((item) => (
      <a 
        href={item.href} 
        class={`flex items-center justify-center h-10 w-10 rounded-md group relative ${
          currentPath === item.href ? "bg-sidebar-accent text-sidebar-accent-foreground" : "hover:bg-sidebar-accent/50 text-sidebar-foreground"
        }`}
        aria-label={item.label}
      >
        <item.icon class="h-5 w-5"/>        
        <!-- Tooltip -->
        <span class="absolute left-full ml-2 px-2 py-1 bg-popover text-popover-foreground text-xs rounded-md opacity-0 translate-x-2 group-hover:opacity-100 group-hover:translate-x-0 transition-all pointer-events-none whitespace-nowrap">
          {item.label}
        </span>
      </a>
    ))}
  </nav>
  <div class="flex items-center justify-center ">
   { bottomItems.map((item) => (
      <a 
    href={item.href} 
    class={`flex items-center justify-center h-10 w-10 rounded-md group relative ${
      currentPath === item.href ? "bg-sidebar-accent text-sidebar-accent-foreground" : "hover:bg-sidebar-accent/50 text-sidebar-foreground"
    }`}
    aria-label={item.label}
  >
    <item.icon class="h-5 w-5" />
    
    
    <!-- Tooltip -->
    <span class="absolute left-full ml-2 px-2 py-1 bg-popover text-popover-foreground text-xs rounded-md opacity-0 translate-x-2 group-hover:opacity-100 group-hover:translate-x-0 transition-all pointer-events-none whitespace-nowrap">
      {item.label}
    </span>
  </a>
  ))}
  </div>
</aside>
